{% extends 'index.html' %}
{% block navbar %}
{% endblock %}
{% block carrusel %}
{% endblock %}

{% block datos_pedido %}
<section>
    <div class="container">
        <div class="col-12 text-center my-3 titulo">
            <p>	Datos para Pedido </p>
        </div>
        <div>
            <p class="text-center text-justify lead"> </p>
        </div>
        <div class="formulario">
            <div class="container">
                <div class="row mt-3 pb-5">
                    <div class="col-12 col-md-8 offset-md-2 py-3 rounded px-5">
                        <form method="POST">
                            {% csrf_token %}
                           <div class="form-group">
                                <label>Nombres</label>
                                <input type="text" name="nombre" class="form-control shadow-sm" required>
                            </div>
                            <div class="form-group">
                                <label>Apellidos</label>
                                <input type="text" name="apellido" class="form-control shadow-sm" required>
                            </div>
                            <div class="form-group">
                                <label>Número Telefónico</label>
                                <input type="number" name="telefono" class="form-control shadow-sm" placeholder= "9 87654321" required>
                            </div>
                            <div class="form-group">
                                <label>Correo</label>
                                <input type="email" name="correo" class="form-control shadow-sm" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-secondary btn-block">
                                    <a class="far fa-envelope send-envelope"></a>
                                    Pedir</button>
                            </div> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock  %}